USE master
GO
/****** Object:  Database TennisClubChavornay    Script Date: 20.11.2015 14:10:49 ******/

IF (EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = 'TennisClubChavornay'))
begin
	ALTER DATABASE TennisClubChavornay SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
	DROP DATABASE TennisClubChavornay;
end
GO

CREATE DATABASE TennisClubChavornay
 ON  PRIMARY 
( NAME = N'TennisClubChavornay', FILENAME = N'C:\MSSQL\TennisClubChavornay.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TennisClubChavornay_log', FILENAME = N'C:\MSSQL\TennisClubChavornay_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

USE TennisClubChavornay;
GO

/****** Object:  Table dbo.comments    Script Date: 20.11.2015 14:10:49 ******/
CREATE TABLE dbo.comments(
	idComments int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	text text NOT NULL,
	date date NOT NULL,
	satisfaction tinyint NULL,
	fkUsers int NOT NULL,
	fkCourts int NOT NULL);
GO

/****** Object:  Table dbo.courts    Script Date: 20.11.2015 14:10:49 ******/
CREATE TABLE dbo.courts(
	idCourts int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	surface varchar(100) NOT NULL,
	inside tinyint NOT NULL,
	name varchar(100) NOT NULL,
	reservability int NOT NULL);
GO

/****** Object:  Table dbo.courts_maintenances    Script Date: 20.11.2015 14:10:49 ******/
CREATE TABLE dbo.courts_maintenances(
	idCourts_Maintenances int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	fkCourts int NOT NULL,
	fkMaintenances int NOT NULL);
GO

/****** Object:  Table dbo.maintenances    Script Date: 20.11.2015 14:10:49 ******/
CREATE TABLE dbo.maintenances(
	idMaintenances int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	startDate datetime NOT NULL,
	endDate datetime NOT NULL,
	description text NOT NULL,
	company varchar(100) NOT NULL,
	validBy varchar(100) NULL);
GO

/****** Object:  Table dbo.payments    Script Date: 20.11.2015 14:10:49 ******/
CREATE TABLE dbo.payments(
	idPayments int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	fkUsers int NOT NULL,
	amount int NOT NULL,
	moyen varchar(100) NOT NULL,
	receptionDate date NOT NULL,
	status tinyint NOT NULL);
GO

/****** Object:  Table dbo.reservations    Script Date: 20.11.2015 14:10:49 ******/
CREATE TABLE dbo.reservations(
	idReservations int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	date datetime NOT NULL,
	fkReservers int NOT NULL,
	fkGuests int NOT NULL,
	fkCourts int NOT NULL,
	fkSeasons int NOT NULL);
GO
/****** Object:  Table dbo.roles    Script Date: 20.11.2015 14:10:49 ******/
CREATE TABLE dbo.roles(
	idRoles int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	name varchar(100) NOT NULL,
	reservability tinyint NOT NULL,
	authorizationlevel int NOT NULL DEFAULT 0,
	nbMax int);
GO

/****** Object:  Table dbo.seasons    Script Date: 20.11.2015 14:10:49 ******/
CREATE TABLE dbo.seasons(
	idSeasons int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	date date NOT NULL,
	gracePeriod int NOT NULL);
GO

/****** Object:  Table dbo.users    Script Date: 20.11.2015 14:10:49 ******/
CREATE TABLE dbo.users(
	idUsers int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	firstname varchar(100) NOT NULL,
	lastname varchar(100) NOT NULL,
	address varchar(100) NOT NULL,
	npa varchar(100),
	phone varchar(100) NOT NULL,
	mail varchar(100) NOT NULL,
	registerDate date NULL,
	username varchar(100) NULL,
	password varchar(100) NULL,
	active tinyint NOT NULL,
	status varchar(100) NOT NULL,
	inviter tinyint NOT NULL,
	fkRoles int NOT NULL);
GO

ALTER TABLE dbo.comments  WITH CHECK ADD  CONSTRAINT FK_comments_courts FOREIGN KEY(fkCourts)
REFERENCES dbo.courts (idCourts)
ON DELETE CASCADE
GO

ALTER TABLE dbo.comments  WITH CHECK ADD  CONSTRAINT FK_comments_users FOREIGN KEY(fkUsers)
REFERENCES dbo.users (idUsers)
GO

ALTER TABLE dbo.courts_maintenances  WITH CHECK ADD  CONSTRAINT FK_courts_maintenances_courts FOREIGN KEY(fkCourts)
REFERENCES dbo.courts (idCourts)
ON DELETE CASCADE
GO

ALTER TABLE dbo.courts_maintenances  WITH CHECK ADD  CONSTRAINT FK_courts_maintenances_maintenances FOREIGN KEY(fkMaintenances)
REFERENCES dbo.maintenances (idMaintenances)
GO

ALTER TABLE dbo.payments  WITH CHECK ADD  CONSTRAINT FK_Payments_Users1 FOREIGN KEY(fkUsers)
REFERENCES dbo.users (idUsers)
GO

ALTER TABLE dbo.reservations  WITH CHECK ADD  CONSTRAINT FK_reservations_seasons FOREIGN KEY(fkSeasons)
REFERENCES dbo.seasons (idSeasons)
GO

ALTER TABLE dbo.reservations  WITH CHECK ADD  CONSTRAINT FK_reservations_users_guests FOREIGN KEY(fkGuests)
REFERENCES dbo.users (idUsers)
GO

ALTER TABLE dbo.reservations  WITH CHECK ADD  CONSTRAINT FK_reservations_users_reservers FOREIGN KEY(fkReservers)
REFERENCES dbo.users (idUsers)
GO

ALTER TABLE dbo.reservations  WITH CHECK ADD  CONSTRAINT FK_reservations_courts FOREIGN KEY(fkCourts)
REFERENCES dbo.courts (idCourts)
ON DELETE CASCADE
GO

ALTER TABLE dbo.users  WITH CHECK ADD  CONSTRAINT FK_Users_Roles FOREIGN KEY(fkRoles)
REFERENCES dbo.roles (idRoles)
GO

INSERT INTO dbo.roles (name, reservability, nbMax, authorizationlevel) VALUES ('Member', 1, 100, 2),('Administrator', 1, 5, 99),('Guest', 0, 1000,1),('No member', 1, 1000,0);
GO








GO