@using ASP1_TCC.Models
@{
    ViewBag.Title = "Membres";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Members theMembers = ViewBag.Members;
}

<h2>Membres</h2>

Il y a @theMembers.allMembers.Count membres
<table>
    <tr>><th>Prénom</th><th>Nom</th><th>Nom d'utilisateur</th></tr>
    @foreach (Member m in theMembers.allMembers)
    {
        <tr><td>@m.getFirstName()</td><td>@m.getLastName()</td><td><a href="Member/Profile/@m.getId()">@m.getUserName()</a></td></tr>
    }
</table>
